$white: hsl(0, 100%, 100%);
$whitish: hsl(140deg, 100%, 90%);
$white-brown: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 0%);
$dark-green: hsl(140deg, 65%, 25%);
$light-green: hsl(150deg, 55%, 50%);
$yellow: hsl(48deg, 89%, 50%);
$grey: hsl(0, 0%, 80%);
$dark-grey: hsl(0, 0%, 50%);

$font-light: $white;
$font-whitish: hsl(140deg, 100%, 95%);
$font-dark: hsl(0, 0%, 10%);
$font-dark-grey: hsl(0, 0, 30%);
$font-grey: hsl(0, 0%, 75%);

$primary: $dark-green;
$secondary: $white;
$modal-color: $black;
